<label for="siteSearch" class="visuallyhidden">Search by Keyword</label>
<span class="algolia-autocomplete" style="position: relative; display: inline-block; direction: ltr;"><input id="siteSearch" type="text" placeholder="Search by Keyword or Phrase" name="q" autocomplete="off" class="aa-input" spellcheck="false" dir="auto" style="position: relative; vertical-align: top;"><pre aria-hidden="true" style="position: absolute; visibility: hidden; white-space: pre; font-family: Roboto, sans-serif; font-size: 14px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: normal; word-spacing: 0px; letter-spacing: normal; text-indent: 0px; text-rendering: auto; text-transform: none;"></pre><span class="aa-dropdown-menu" style="position: absolute; top: 100%; z-index: 100; display: none; left: 0px; right: auto;"><div class="aa-dataset-article"></div></span></span>
<button type="submit" class="btn-search"><span class="visuallyhidden">Submit search</span><i class="icon-search"></i></button>
