<div class="header">
<!--{{> molecules-site-logo }}-->
  <div class="header">
    {{> molecules-gov-logo }}
    {{> molecules-common-nav }}
    <div class="header_search-bar">
      {{> molecules-site-search }}
    </div>
    <div class="font-resizer">
      {{> molecules-resizer }}
    </div>
  </div>
</div>
