<button data-size="normal" class="js-resizer is-active"><span class="visuallyhidden">Normal Font Size</span><i class="icon-font_size"></i></button>
<button data-size="big" class="js-resizer"><span class="visuallyhidden">Big Font Size</span><i class="icon-font_size"></i></button>
<button data-size="bigger" class="js-resizer"><span class="visuallyhidden">Bigger Font Size</span><i class="icon-font_size"></i></button>
